body{
    background-color: rgb(139,198,236);
    font-family: montserrat,sans-serif;
}
header .headertop h2{
    color: #2271dd;
}
header .headerbottom h2{
    color: white;
}
.headerbottom{
    background-color: #4835d4 ;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
}
header{
    display: flex;
    padding-left: 10px;
}
.headertop{
    background-color: white;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
}
input{
    width: 100%;
    padding: 11.5px 15px 15px;
    border: 4px solid transparent;
    font-size: 16px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.48)
}
header{
    margin: 7% 8% ;
}
.Names{
    display: flex;
}
.Businessarena{
    display: flex;
}
.street input ,.Additional input ,.Country input{
    background-color: #4835d4;
    color: white;
}
.headertop{
    width: 50%;
}
header .headertop .Names .Last{
    margin-left: 50px;
    width: 170px;
}
.Names .First{
    margin-left: 40px;
    width: 170px;
}
.select{
    margin-left: 40px;
    width: 70%;
}
.headertop,.headerbottom{
    width: 100%;
}
.street,.Additional{
    margin-left: 40px;
    width: 70%;
}
header{
    height: 700px;
}
h2{
    margin-left: 40px;
}
.select2 ,.Country,.Youre{
    margin-left: 40px;
    width: 70%;
}

.Company{
    margin-left: 40px;
    width: 70%;
}
.Businessarena .businessa{
    margin-left: 40px;
    width: 170px;
}
.Businessarena .Employes{
    margin-left: 50px;
    width: 170px;
}
.zp{
    display: flex;
    
}
.zp .zipcode ,.cp .Code{
    margin-left: 40px;
    width: 100px;
    
}
.zp .place,.cp .Phone{
    margin-left: 50px;
}
.zipcode input, .place input ,.Code input,.Phone input,.Youre input{
    background-color: #4835d4;
    color: white;
} 
.cp{
    display: flex;
}
.checkbox{
    display: flex;
    margin-top: 30px;
    color: white;
}
.checkbox input{
    width: 15px;
    margin-left:50px ;
}
.checkbox a{
    color: #fff;
}
button{
    background-color:white ; 
    
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 70px;
    margin-left: 50px;
    margin-top: 40px;
    display: inline;


}
button a{
    color: black;
    list-style: none;

}
